<div id="<%= dom_id meeting %>">
  <p>
    <strong>Title:</strong>
    <%= meeting.title %>
  </p>

  <p>
    <strong>Date time:</strong>
    <%= meeting.date_time %>
  </p>

  <p>
    <strong>Mentor:</strong>
    <%= meeting.mentor_id %>
  </p>

  <p>
    <strong>Mentee:</strong>
    <%= meeting.mentee_id %>
  </p>

</div>
