<div class="container mx-auto max-w-5xl shadow-black mt-10">
  <h1 class="text-2xl font-bold mb-6 text-center pt-8">Tell us about yourself</h1>
  <%= form_for [@mentor, @mentor_profile], url: mentor_onboarding_index_path(@mentor), class: "bg-white" do |f| %>
    <% if @mentor_profile.errors.any? %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mb-4 rounded relative" role="alert">
        <strong class="font-bold">Please fix the following errors:</strong>
        <ul>
          <% @mentor_profile.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="px-4 py-6 sm:p-8  space-y-8">

    <%= f.fields_for :mentor do |mentor_fields| %>
      <div class="sm:col-span-3">
        <%= mentor_fields.label :first_name, "First Name *", class: "block text-lg font-medium leading-6 text-gray-900" %>
        <%= mentor_fields.text_field :first_name, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
      </div>

      <div class="sm:col-span-3">
        <%= mentor_fields.label :last_name, "Last Name *", class: "block text-lg font-medium leading-6 text-gray-900" %>
        <%= mentor_fields.text_field :last_name, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
      </div>
    <% end %>
      <div class="sm:col-span-3">
        <%= f.label :company_url, "Where do you work? *", class: "block text-lg font-medium leading-6 text-gray-900" %>
        <p class="text-md text-gray-500 mb-1">
          Add the URL of your company
        </p>
        <div class="mt-2">
          <%= f.text_field :company_url, required: true, placeholder: "https://yourcompany.com", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <%= f.label :ruby_start_year, "Year you started programming in Ruby *", class: "block text-lg font-medium leading-6 text-gray-900" %>
        <p class="text-md text-gray-500 mb-1">
          Some folk will want to speak to someone who's within touching distance of the beginning of their careers, some will want grizzled veterans.
        </p>
        <div class="mt-2">
          <%= f.date_field :ruby_start_year, required: true, placeholder: "2007", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <%= f.label :country, "Country *", class: "block text-lg font-medium leading-6 text-gray-900" %>
        <p class="text-md text-gray-500 mb-1">
          We'll try and match you geographically if we can, for local context and the most timezone flexibility!
        </p>
        <div class="mt-2">
          <%= f.text_field :country, placeholder: "UK", required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>


      <div class="sm:col-span-3">
        <%= f.label :city, "City *", class: "block text-lg font-medium leading-6 text-gray-900" %>
        <p class="text-md text-gray-500 mb-1">
          The nearest city that makes sense for you
        </p>
        <div class="mt-2">
          <%= f.text_field :city, placeholder: "Brighton", required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <%= f.label :twitter, "Twitter?", class: "block text-lg font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= f.text_field :twitter, placeholder: "@regrettablepseudonym", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <%= f.label :github, "Github", class: "block text-lg font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= f.text_field :github, placeholder: "https://github.com/username" ,class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <%= f.label :personal_site, "Do you have a personal site?", class: "block text-lg font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= f.text_field :personal_site, placeholder: "https://github.com/username", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <%= f.label :past_workplaces, "Worked anywhere else?", class: "block text-lg font-medium leading-6 text-gray-900" %>
        <p class="text-xs text-gray-500 mb-1">
          More context will hopefully give us more opportunity to make a good match
        </p>
        <div class="mt-2">
          <%= f.text_field :past_workplaces, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <%= f.label :previous_mentoring, "Have you done any mentoring before? *", class: "block text-lg font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= f.select :previous_mentoring, [["Yes", true], ["No", false]], {}, required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <%= f.label :motivation, "Why are you doing this? *", class: "block text-lg font-medium leading-6 text-gray-900" %>
        <p class="text-md text-gray-500 mb-1">
          Anything else you might be useful for us know.
        </p>
        <div class="mt-2">
          <%= f.text_area :motivation, required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <div class="mt-2">
          <%= f.label :communication_preference, "Communication preference?*", class: "mb-2 block text-lg font-medium leading-6 text-gray-900" %>
          <%= f.select :communication_preference, ['Email', 'Phone', 'Text', 'Video'], {}, required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <div class="mt-2">
          <% MentorProfile::DAYS.each do |day| %>
            <%= check_box_tag "mentor_profile[availability][]", day, @mentor_profile.availability.include?(day.to_s), class: "text-red-600" %>
            <%= label_tag "mentor_profile_availability_#{day}", day.to_s.capitalize %>
          <% end %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <%= f.label :industry_expertise, "Desirted Industry", class: "block text-lg font-medium leading-6 text-gray-900" %>
        <p class="text-md text-gray-500 mb-1">
          e.g Web Development, DevOps, Data Science, Machine Learning etc.
        </p>
        <div class="mt-2">
          <%= f.text_field :industry_expertise, required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <%= f.label :specific_interests, "Specialisation?", class: "block text-lg font-medium leading-6 text-gray-900" %>
        <p class="text-md text-gray-500 mb-1">
          We will try to pair you with mentee seeking guidance on speficic area that you specialise in. Eg. performance optimization, testing, API development etc.
        </p>
        <div class="mt-2">
          <%= f.text_area :specific_interests, required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="flex justify-center border-t border-gray-900/10 px-4 py-4 sm:px-8">
        <%= f.submit "Submit", class: "hover:cursor-pointer w-96 rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-500" %>
      </div>
  <% end %>
</div>
