<%= render "admins/shared/skeleton" do %>
  <%= turbo_frame_tag "admin_content" do %>
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto"></div>
        <%= button_to 'Run Match Service', admins_run_match_service_path, method: :post,
            class: "mt-2 rounded-md bg-red-600 py-2 px-3 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 ml-2" %>
    </div>
    <div class="overflow-x-scroll ring-1 ring-gray-300 rounded-md mt-4">
      <div class="flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <table class="min-w-full divide-y divide-gray-300">
              <thead>
                <tr class="divide-x divide-gray-200">
                  <th scope="col" class="py-3.5 pl-4 pr-4 text-center text-sm font-semibold text-gray-900 sm:pl-0">Mentee</th>
                  <th scope="col" class="py-3.5 pl-4 pr-4 text-center text-sm font-semibold text-gray-900 sm:pl-0">Mentor</th>
                  <th scope="col" class="py-3.5 pl-4 pr-4 text-center text-sm font-semibold text-gray-900 sm:pl-0">Match Reasons</th>
                  <th scope="col" class="py-3.5 pl-4 pr-4 text-center text-sm font-semibold text-gray-900 sm:pl-0">Actions</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <% @mentorships.each do |mentorship| %>
                  <%= render partial: "match", locals: { mentorship: mentorship } %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="flex justify-center mt-4 mb-2  mr-[256px]">
        <% position ||= 'top' %>
        <nav class="pagy-nav my-4 text-center" role="navigation" aria-label="pager <%= position %>">
            <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
        </nav>
      </div>
    </div>
  <% end %>
<% end %>
