<%= render "admins/shared/skeleton" do %>
  <%= turbo_frame_tag "admin_content" do %>
    <h1>Matches</h1>
    <table class="min-w-full divide-y divide-gray-300">
      <thead>
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Mentee</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Mentor</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Compatibility Score</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Common Interests</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Same Country</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">Same City</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">mentor info</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">mentee info</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Actions</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        <% @matched_pairs.each do |match| %>
          <tr>
            <td><%= match[:mentee].full_name %></td>
            <td><%= match[:mentor].full_name %></td>
            <td><%= match[:match_details][:compatibility_score] %></td>
            <td><%= match[:match_details][:specific_interests_overlap].join(', ') %></td>
            <td><%= match[:match_details][:same_country] ? 'Yes' : 'No' %></td>
            <td><%= match[:match_details][:same_city] ? 'Yes' : 'No' %></td>
            <td><%= match[:mentor].city %>, <%= match[:mentor].country %></td>
            <td><%= match[:mentee].city %>, <%= match[:mentee].country %></td>
            <td>
              <%# <%= link_to 'Edit', edit_admin_match_path(match[:mentee].id) %1> | %>
              <%# <%= link_to 'Delete', admin_match_path(match[:mentee].id), method: :delete, data: { confirm: 'Are you sure?' } %1> %>
              <%= link_to 'Edit', "#" %> |
              <%= link_to 'Delete', "#" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= button_to 'Run Match Service', admins_run_match_service_path, method: :post %>
    <%= button_to 'Approve Matches', admins_approve_matches_path, method: :post %>
  <% end %>
<% end %>
