<%= render "admins/shared/skeleton" do %>
  <%= turbo_frame_tag "admin_content" do %>
    <div class="-mx-4 mt-8 sm:-mx-0 overflow-x-scroll">
      <table class="min-w-full divide-y divide-gray-300">
        <thead>
          <tr class=" divide-x divide-gray-200">
            <th scope="col" class="hidden w-full px-8 py-3.5 text-center text-sm font-semibold text-gray-900 lg:table-cell">Signup</th>
            <th scope="col" class="hidden w-full px-8 py-3.5 text-center text-sm font-semibold text-gray-900 lg:table-cell">Mentee</th>
            <% @mentee_headers.each do |header| %>
              <th scope="col" class="hidden w-full px-8 py-3.5 text-center text-sm font-semibold text-gray-900 lg:table-cell"><%= header.titleize %></th>
            <% end %>
            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
          <% @mentees.each do |mentee| %>
            <%= render "mentee", mentee: mentee %>
          <% end %>
        </tbody>
      </table>
      <div class="flex justify-center mt-4 mb-2  mr-[256px]">
        <% position ||= 'top' %>
        <nav class="pagy-nav my-4 text-center" role="navigation" aria-label="pager <%= position %>">
            <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
        </nav>
      </div>
    </div>
  <% end %>
<% end %>
